.contact {
  width: 100%;
  min-height: 100vh;
  padding-top: 4rem;
  scroll-margin-top: 5rem;
}

.contact .container {
  max-width: 80%;
  margin: 0 auto;
  color: var(--text-color);
}

.contact .mainContainer {
  margin: 3rem 0;
}

.contact .contactLine {
  margin-bottom: 2.5rem;
  max-width: 35%;
}

.contact .contactLine .Gmail {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

.contact .contactLine a,
.contactLine:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 1.3rem;
}

.contact .contactLine .icon {
  background-color: transparent;
  padding: 0.7rem 1.2rem;
  padding-top: 0.9rem;
  border-radius: 0.4rem;
  border: 2px solid var(--primary-color);
  position: relative;
}

.contact .contactLine .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--gradient);
  border-radius: 0.4rem;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.contact .contactLine .icon:hover::before {
  width: 100%;
}

@media screen and (max-width: 720px) {
  .contact {
    text-align: center;
  }

  .contact .contactLine {
    max-width: 75%;
    line-height: 2.5rem;
  }
}
