.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  width: 350px;
  height: 150px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.box .img {
  width: 80px;
  height: 80px;
}

.box .icon {
  font-size: 3.7rem;
}

.box .name {
  font-size: 1.5rem;
  color: #1a0021;
}

.box:hover {
  transform: translateY(-20px);
  transition: 0.8s ease;
}

@media (min-width: 700px) and (max-width: 991.98px) {
  .box {
    width: 250px;
  }
}
