.skills {
  width: 100%;
  min-height: 100vh;
  scroll-margin-top: 5rem;
}

.skills .container {
  max-width: 80%;
  margin: 0 auto;
  color: var(--text-color);
}

.skills .mainContainer {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .skills {
    text-align: center;
    padding-top: 4rem;
  }

  .skills .mainContainer {
    grid-template-columns: 1fr;
    margin: 3rem 1.5rem;
  }
}

@media (min-width: 700px) and (max-width: 1350px) {
  .skills {
    padding-top: 4rem;
  }

  .skills .mainContainer {
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem 1.5rem;
  }
}
