* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  background-color: var(--primary-color);
}

[data-theme="dark"] {
  --primary-color: #ff6668;
  --bg-color: #1a0021;
  --text-color: rgb(255, 255, 255);
  --box-shadow: 9px 9px 34px -2px rgba(255, 93, 95, 0.59);
  --text-gradient: linear-gradient(to right, #ff5d5f 0%, #7c0c95 70%);
  --gradient: linear-gradient(
    90deg,
    hsla(359, 100%, 68%, 1) 0%,
    #7c0c95 100%
  );
}

[data-theme="light"] {
  --primary-color: #ac5aff;
  --bg-color: #edf6f9;
  --text-color: rgb(53, 9, 61);
  --box-shadow: 9px 9px 34px -2px rgba(172, 90, 255, 1);
  --text-gradient: linear-gradient(
    to right,
    #ac5aff 0%,
    hsla(302, 82%, 76%, 1) 100%
  );
  --gradient: linear-gradient(
    90deg,
    hsla(302, 82%, 76%, 1) 0%,
    hsla(258, 40%, 68%, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  background: var(--text-gradient);
  font-size: 3rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  font-family: "Cousine", monospace;
}

.title{
  font-size: 1.3rem;
  margin-bottom: .7rem;
}

@media screen and (min-width: 375px) and (max-width: 991.98px) {

  


}